body{
    background-color: aliceblue;
    padding:2rem 0;
}
section.seyahat{
   text-align: center; 
}
section.seyahat > div{
    display : inline-block;
    width:25%;
    margin-left:1rem;
    padding:1rem;
    border :10px solid rgba(235, 232, 232, 0.562)
}
section.seyahat div div{
    text-align:left;
}
section.seyahat div div span:first-child{
    font-size:1.5rem;
    color:rgb(118, 118, 231);
    font-weight: 700;
    margin-right:2rem;
}
section.seyahat div div span:last-child{
    background-color: blue;
    padding:.5rem 1rem;
    color:white;
}
section.seyahat div div span:hover{
    opacity:0.6;
    cursor:pointer;
}
